body{
margin:0;
font-family:Arial;
background:black;
color:white;
}

.bg{
background-image:url('../assets/background.jpg');
background-size:cover;
}

.center{
text-align:center;
margin-top:150px;
}

.btn{
padding:15px 40px;
background:white;
color:black;
text-decoration:none;
margin:10px;
border-radius:8px;
}

.red{
background:red;
color:white;
}

.card{
width:300px;
margin:auto;
margin-top:120px;
padding:30px;
background:#111;
border-radius:10px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
}

button{
width:100%;
padding:12px;
background:red;
color:white;
border:none;
}

header{
background:#111;
padding:20px;
display:flex;
justify-content:space-between;
}

nav a{
margin:10px;
color:white;
}

.cards{
display:flex;
gap:20px;
padding:40px;
}

.card-box{
background:#111;
padding:30px;
border-radius:10px;
}
